!!!
%html
  %head
    %title POKENATRA
    %link{rel: "stylesheet", type: "text/css", href: "/css/style.css"}
  %body
    %header
      %h1 POKENATRA
      %h2 A Sinatra-based pokedex... sorta
      %nav
        %ul
          %li
            %a{href: '/pokemon'} View Pokemon
          %li
            %a{href: '/trainers'} View Trainers
          %li
            %a{href: '/pokemon/new'} Add Pokemon
          %li
            %a{href: '/trainers/new'} Add Trainer
    =yield
