<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>POKENATRA</title>
</head>
<body>
  <header>
    <h1>POKENATRA</h1>
    <nav>
      <ul>
        <li><a href="/pokemon">View Pokemon</a></li>
        <li><a href="/trainers">View Trainers</a></li>
        <li><a href="/pokemon/new">Add Pokemon</a></li>
        <li><a href="/trainers/new">Add Trainer</a></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
